.inputLable {
	display: block;
	background-color: none;
	
	width: 465px;
	height: 50px;
	border-bottom: 2px solid #fff;
}

.inputLableTest {
	color: #fff;
	text-align: start;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}

.input,
.inputMessage {
	/* display: none; */
	background: none;
	outline: none;
	height: 50px;
	border: none;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	border-bottom: 2px solid #fff;
	margin-bottom: 60px;
}

.input {
	width: 465px;
	margin-right: 20px;
	margin-left: 20px;
}

.inputMessage {
	width: 970px;
}

/* for 1000px */

@media screen and (max-width: 1000px) {
	.inputMessage {
		width: 465px;
	}

	.input,
	.inputMessage {
		margin-bottom: 40px;
	}
}

/* for 610px */

@media screen and (max-width: 610px) {


	.input,
	.inputMessage {
		margin-bottom: 25px;
		width: 270px;
		font-size: 16px;
		height: 40px;
	}
}

